#offset value size varname

# Intel(R) Turbo Boost Technology: Disabled
0xCAE 0x1 0x1 Setup

# Hyper-Threading Technology: Disabled
0xD2D 0x1 0x1 Setup

# Intel(R) Speed Shift Technology: Disabled
0xD38 0x1 0x1 Setup

# C-States Control: Disabled
0xD2E 0x1 0x1 Setup

# CPU Enhanced Halt(C1E): Disabled
0xD2F 0x1 0x1 Setup
